*{
    box-sizing: border-box;
}

body{
    font-family: Tahoma, Arial;
}

.contenar{
    margin:20px auto;
    width: 100px;
}

.row{
    display: flex;
}

hr{
    border: 1px solid #EEE;
}

.game-info{
    display: flex;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: center;
}
.game-info .category span{
text-transform: capitalize;
color: #E91E63;
font-weight: bold;
}
.hangman-draw{
    flex: 1;
    background-color: #F8F8F8;
    padding: 20px;
    height: 324px;
}

.hangman-draw .the-draw{
    width: 187px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
}
.hangman-draw .the-stand::before{
    content: '';
    position: absolute;
    width:4px;
    background-color: #222;
    height: 100%;
left: 33%;
margin-left: -2px;    
}
.hangman-draw .the-stand::after{
content: '';
    position: absolute;
    background-color: #222;
    height: 4px;
    width: 69px;
    transform: skew(-10deg, -34deg);
    left: 61px;
    top: 22px;
}
.hangman-draw .the-hang::before{
    content: '';
    position: absolute;
    height: 4px;
    background-color: #222;
    width:168px;
    left: 59px;
    top: -1px;
}
.hangman-draw .the-hang::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 42px;
    background-color: #222;
    left: 223px;
    top: 0px;
}
.hangman-draw .the-hang::after{
    content: '';
    
}
.hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius:50%;
    position: absolute;
    left: 190px;
    top: 40px;
    border: 4px dashed #222;
}

.hangman-draw .the-man .head{
width:50px; 
height: 50px;
border-radius: 50%;
border: 4px solid #222;
position: absolute;
left: 200px;
top: 50px;

}

.hangman-draw .the-man .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 110px;
    top: 101px;
    left: 223px;
}

.hangman-draw .the-man .hands::after{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 177px;
    top: 140px;
    transform: rotate(-30deg);

}
.hangman-draw .the-man .hands::before{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 222px;
    top: 140px;
    transform: rotate(30deg);
}


.hangman-draw .the-man .Leteers::after{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 177px;
    top: 220px;
    transform: rotate(-30deg);

}
.hangman-draw .the-man .Leteers::before{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 222px;
    top: 220px;
    transform: rotate(30deg);
}
.st::before{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 63px;
    top: 249px;
    transform: skew(3deg, 49deg);
}
.st::after{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    left: 10px;
    top: 249px;
    transform: skew(3deg, -49deg);
}

.letters{
    flex: 1;
    padding: 15px;
    text-align: center;

}

.letters .Letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}